<h3>Food List</h3>

    <tr>
        <th>Id---</th>
        <th>Name---</th>
        <th>Price---</th>
        <th>Buy---</th>
    </tr>
    <tr *ngFor="let food of foods">
        <td>{{food.id}}</td>
        <td>{{food.name}}</td>
        <td>{{food.price}}</td>
        <td>
            <a [routerLink]="['/order', { id:food.id }]">Buy It</a>
        </td>
    </tr>
