<h3>Order Info</h3>
<table>
    <tr>
        <th>Id---</th>
        <th>Name---</th>
        
        <th>Price---</th>
        <th>Amount---</th>
        <th>Sub Total---</th>
        <th>Remove---</th>
    </tr>
    <tr *ngFor="let item of items">
    <td>{{item.food.id}}</td>
    <td>{{item.food.name}}</td>
    <td>{{item.food.price}}</td>
    <td>{{item.foodAmount}}</td>
    <td>{{item.food.price * item.foodAmount}}</td>
    <a (click)="remove(item.food.id)">X</a>
</table>
    <td >Total:</td>
    <td>{{total}}</td>